@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200;300&family=Oswald:wght@200&family=Poppins:wght@500&family=Roboto+Mono&display=swap');

body, html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    color: #eee;
    background-color: #072227;
    font-family: Anton;
}
header{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px 0.1px;
    background-color: #072227;
    font-size: xx-large;
    z-index: 2;
    
}
.content{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #4FBDBA;
    box-shadow: 0px 0px 15px 0px;
    z-index: 1;  
}

.container{
    margin: 0;
    padding: 0;
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #072227;
    border-radius: 10px;
    box-shadow: 0px 3px 15px 0.1px;
}
.movie,
.food,
.drink{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4FBDBA;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0.1px;
    font-size: x-large;

}
h1{
    margin: 10px;
}
button {
    height: 10%;
    width: 80%;
    border-radius: 10px;
    background-color: #072227;
    color:#4FBDBA;
    transition: 300ms;
    font-family: anton;
    font-size: xx-large;
    box-shadow: 0px 5px 15px 0.1px;
}
button:hover{
    height: 10%;
    width: 80%;
    border-radius: 10px;
    background-color: #4FBDBA;
    color:#072227;
    border: solid #4FBDBA;
    box-shadow: 0px 0px 15px 0.1px;
}
button:focus{
    width: 78%;
    transition: 200ms;
    box-shadow: 0px 0px 15px 0.1px;
}
footer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0;
    box-shadow: 0px 0px 10px 0.1px;
    background-color: #072227;
}
